@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
  --button-primary: #343434;
  --button-secondary: #FF4707;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

.popup {
  background: #FFDEBF;
  color: #461B1B;
}

.buttonPrimary {
  background: var(--button-primary);
}

.buttonSecondary {
  background: var(--button-secondary);
}

.textPrimary {
  color: var(--button-primary);
}

.textSecondary {
  color: var(--button-secondary);
}

.recommend {
  border: dashed 4px var(--button-secondary);
  border-radius: 10px;
  background: rgba(255, 214, 0, 0.3);
}


input[id="checkbox1"]{
  display: none;
}
input[id="checkbox1"] + label{
  display: inline-block;
  width: 30px;
  height: 30px;
  border:2px solid #057042;
  border-radius: 5px;
  position: relative;
}
input[id="checkbox1"]:checked + label::after{
  font-size: 25px;
  width: 30px;
  height: 30px;
  text-align: center;
  left: 0;
  top:0;
}
.icon {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}